@using OnlineTicariOtomasyon.Models.Model
@model List<KargoDetay>

@{
    ViewBag.Title = "Kargolar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.ActionLink("Yeni Kargo", "Create",null,new { @class="btn btn-primary"})
<div style="margin-bottom:5px;"></div>
<table class="table table-bordered table-striped table-hover myDataTables">
    <thead style="text-align:center;">
        <tr>
            <th scope="col">Personel</th>
            <th scope="col">Alıcı</th>
            <th scope="col">Tarih</th>
            <th scope="col">Detaylar</th>
            <th scope="col">Kargo Takip No</th>
            <th style="width:200px" scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Personel</td>
                <td>@item.Alici</td>
                <td>@Convert.ToDateTime(@item.Tarih).ToShortDateString()</td>
                <td>@item.Aciklama</td>
                <td>@item.TakipKodu</td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.TakipKodu }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detaylar", "Detail", new { id = item.TakipKodu }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
