@using OnlineTicariOtomasyon.Models.Model
@model List<Fatura>
@{
    ViewBag.Title = "Faturalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="~/Fatura/Create/" style="margin-bottom:15px;" class="btn btn-primary">Yeni Fatura Ekle</a>
<table class="table table-bordered table-striped table-hover myDataTables">
    <thead style="text-align:center;">
        <tr>
            <th scope="col">Fatura No</th>
            <th scope="col">Seri No</th>
            <th scope="col">Sıra No</th>
            <th scope="col">Vergi Dairesi</th>
            <th scope="col">Tarih</th>
            <th scope="col">Saat</th>
            <th scope="col">Toplam Tutar</th>
            <th scope="col">Teslim Eden</th>
            <th scope="col">Teslim Alan</th>
            <th style="width:200px" scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FaturaId</td>
                <td>@item.FaturaSeriNo</td>
                <td>@item.FaturaSıraNo</td>
                <td>@item.VergiDairesi</td>
                <td>@Convert.ToDateTime(item.Tarih).ToShortDateString()</td>
                <td>@item.Saat</td>
                <td>@item.ToplamTutar</td>
                <td>@item.TeslimEden</td>
                <td>@item.TeslimAlan</td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.FaturaId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detay", "Detail", new { id = item.FaturaId }, new { @class = "btn btn-info" })

                </td>
            </tr>
        }


    </tbody>
</table>